<div class="row">
    <div class="col-xs-12 col-6">
        <h1><%= pluralize(@recipes.size, "Receita", "Receitas") %></h1>
    <div class="col-xs-12 col-6">
        <%= link_to 'Nova Receita', new_recipe_path %>
    </div>
</div>
<ul>
    <% @recipes.each do |recipe| %>
        <li><%= imagem(recipe) %></li>
        <li>Nome do prato: <%= link_to recipe.name, recipe %></li>
        <li>Itens: <%= truncate( recipe.stuff, length:15, separator: ' ') %></li>
        <li>Calorias: <%= formata_caloria(recipe) %></li>
        <li>Duração: <%= recipe.duration.to_formatted_s(:time) %> minutos</li>
        <li>Modo de Preparo: <%= recipe.prepare_mode %></li>
        <li>Custo Médio: <%= number_to_currency(recipe.cost) %></li>
   <% end %>
</ul>


