<div class="jumbotron">
    <article>
    <header class="listaReceitasImg">
        <%= imagem(@recipe) %>
        <h1><%= @recipe.name %></h1>
    </header>
    <h2>Tipo</h2>
    <p><%= @recipe.kind %></p>
    <h2>Ingredientes</h2>
    <p><%= @recipe.stuff %></p>
    <h2>Calorias</h2>
    <p><%= @recipe.calories %></p>
    <h2>Modo de Preparo</h2>
    <p><%= @recipe.prepare_mode %></p>
    <h2>Tempo de Preparo</h2>
    <p><%= @recipe.duration.to_formatted_s(:time) %> minutos</p>
    <h2>Porções</h2>
    <p><%= pluralize(@recipe.portion, 'porção', 'porções') %></p>
    <h2>Custo</h2>
    <p><%= number_to_currency(@recipe.cost) %></p>
</article>
<%= link_to pluralize(@recipe.comments.size, 'Comentário', 'Comentários'), recipe_comments_path(@recipe) %>
<%= link_to 'Novo comentário', new_recipe_comment_path(@recipe), class: 'btn btn-outline-primary' %>
</div>
<nav>
    <%= link_to recipes_path, class:'btn btn-outline-info' do %>
        <i class="fas fa-home"> <span>Receitas</span></i>
    <% end %>
    <%= link_to edit_recipe_path(@recipe), class:'btn btn-outline-success' do %>
        <i class="fas fa-pencil-alt"> <span>Editar Receita</span></i>
    <% end %>
    <%= link_to recipe_path(@recipe), method: :delete, data:{ confirm: "Deseja realmente deletar esta receita?" }, class:'btn btn-outline-danger' do %>
        <i class="fas fa-trash-alt"> <span>Deletar Receita</span></i>
    <% end %>
</nav>
